/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Variables - Tokens */
:root {
  /* Colors */
  --black: #1c232b;
  --white: #ffffff;
  --grey: #6c7289;
  --cream: #f2eae2;
  --green-500: #3d8168;
  --green-700: #1a4032;

  /* Spacing */
  --spacing-500: 2.5rem; /* 40px / 16 */
  --spacing-400: 2rem; /* 32px / 16 */
  --spacing-300: 1.5rem; /* 24px / 16 */
  --spacing-200: 1rem; /* 16px / 16 */
  --spacing-100: 0.5rem; /* 8px / 16 */
  --spacing-50: 0.25rem; /* 4px / 16 */

  /* Typography */
  --heading-font: "Fraunces", serif;
  --heading-size: 2rem; /* 32px / 16 */
  --heading-lh: 100%;
  --heading-weight: 700; /* bold */

  --button-font: "Montserrat", sans-serif;
  --button-size: 0.9rem; /* 14px / 16 */
  --button-lh: 110%;
  --button-weight: 700; /* bold */

  --body-font: "Montserrat", sans-serif;
  --body-size: 0.9rem; /* 14px / 16 */
  --body-lh: 160%;
  --body-weight: 500; /* medium */

  --tag-font: "Montserrat", sans-serif;
  --tag-size: 0.75rem; /* 12px / 16 */
  --tag-lh: 120%;
  --tag-weight: 500; /* medium */
  --tag-letter-spacing: 0.41em; /* 5px / 12px */

  --original-price-font: "Montserrat", sans-serif;
  --original-price-size: 0.8rem; /* 13px / 16 */
  --original-price-lh: 120%;
  --original-price-weight: 500; /* medium */
}

/* Classes */
.heading {
  font-family: var(--heading-font);
  font-size: var(--heading-size);
  line-height: var(--heading-lh);
  font-weight: var(--heading-weight);
  color: var(--black);
}

.button {
  font-family: var(--button-font);
  font-size: var(--button-size);
  line-height: var(--button-lh);
  font-weight: var(--button-weight);
  background-color: var(--green-500);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: var(--spacing-200);

  &::before {
    content: url("./images/icon-cart.svg");
    padding-inline-end: var(--spacing-100);
  }
}

.body {
  font-family: var(--body-font);
  font-size: var(--body-size);
  line-height: var(--body-lh);
  font-weight: var(--body-weight);
  color: var(--grey);
}

.tag {
  font-family: var(--tag-font);
  font-size: var(--tag-size);
  line-height: var(--tag-lh);
  font-weight: var(--tag-weight);
  letter-spacing: var(--tag-letter-spacing);
  text-transform: uppercase;
  color: var(--grey);
}

.original-price {
  font-family: var(--original-price-font);
  font-size: var(--original-price-size);
  line-height: var(--original-price-lh);
  font-weight: var(--original-price-weight);
  color: var(--grey);
  padding-inline-start: var(--spacing-200);
}

/* Component styles */
body {
  article {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-400);
    padding: var(--spacing-200);

    .wrapper {
      background-color: var(--white);
      border-radius: 0.5rem;
      overflow: hidden;

      .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
        padding: var(--spacing-400);
      }
    }
  }

  .prices {
    display: flex;
    align-items: center;
  }

  .price {
    color: var(--green-500);
  }
}

@media (min-width: 768px) {
  body {
    article {
      .wrapper {
        display: flex;
        flex-direction: row;
        max-width: 600px;

        picture {
          width: 50%;
        }

        .content {
          width: 50%;
        }
      }
    }
  }
}

/* Attribution */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
